# {{ ansible_managed }}
127.0.0.1	localhost
::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters

# ceph shouldn't ping loopback adress on it's own hostname

{% for host in groups['ceph-cluster'] %}
{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }} 	{{ hostvars[host]['ansible_hostname'] }}.{{ domain_name }}  	{{ hostvars[host]['ansible_hostname'] }} 
{% endfor %}
